.App {
  position: relative;
  padding: 40px 5vw;
  background-color: #f9f9f9;
  overflow: hidden;
  height: 500px;
}

.page-left-container,
.page-right-container {
  position: absolute;
  top: 50%;
  transition: all 0.6s ease-out;
  transform: translateY(-50%);
}

.page-left-container {
  left: -100px;
  opacity: 0;
}

.page-right-container {
  right: -100px;
  opacity: 0;
}

.App:hover .page-left-container {
  left: 20px;
  opacity: 1;
}

.App:hover .page-right-container {
  right: 20px;
  opacity: 1;
}

.Count-Switch {
  position: absolute;
  bottom: 40px;
}